In [109]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [110]:
df=pd.read_csv('C:\\Users\\Keethika P\\Downloads\\Housing.csv')

In [111]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [112]:
df.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [113]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [114]:
df.shape

(545, 13)

In [115]:
df.info

<bound method DataFrame.info of         price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0    13300000  7420         4          2        3      yes        no       no
1    12250000  8960         4          4        4      yes        no       no
2    12250000  9960         3          2        2      yes        no      yes
3    12215000  7500         4          2        2      yes        no      yes
4    11410000  7420         4          1        2      yes       yes      yes
..        ...   ...       ...        ...      ...      ...       ...      ...
540   1820000  3000         2          1        1      yes        no      yes
541   1767150  2400         3          1        1       no        no       no
542   1750000  3620         2          1        1      yes        no       no
543   1750000  2910         3          1        1       no        no       no
544   1750000  3850         3          1        2      yes        no       no

    hotwaterheating airconditioning  parking prefarea furnishingstatus
0                no             yes        2      yes        furnished
1                no             yes        3       no        furnished
2                no              no        2      yes   semi-furnished
3                no             yes        3      yes        furnished
4                no             yes        2       no        furnished
..              ...             ...      ...      ...              ...
540              no              no        2       no      unfurnished
541              no              no        0       no   semi-furnished
542              no              no        0       no      unfurnished
543              no              no        0       no        furnished
544              no              no        0       no      unfurnished

[545 rows x 13 columns]>

In [116]:
df=df.drop('furnishingstatus',axis=1)

In [117]:
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [118]:
cols = ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']

out = pd.concat([df[[col, 'price']].groupby(col)['price'].mean()
                    for col in cols], keys=cols, axis=1)
print(out)

         mainroad     guestroom      basement  hotwaterheating  \
no   3.398905e+06  4.544546e+06  4.509966e+06     4.728593e+06
yes  4.991777e+06  5.792897e+06  5.242615e+06     5.559960e+06

     airconditioning      prefarea
no      4.191940e+06  4.425299e+06
yes     6.013221e+06  5.879046e+06

In [62]:
k=pd.get_dummies(df[cols])

In [63]:
k

,mainroad_no,mainroad_yes,guestroom_no,guestroom_yes,basement_no,basement_yes,hotwaterheating_no,hotwaterheating_yes,airconditioning_no,airconditioning_yes,prefarea_no,prefarea_yes
0,0,1,1,0,1,0,1,0,0,1,0,1
1,0,1,1,0,1,0,1,0,0,1,1,0
2,0,1,1,0,0,1,1,0,1,0,0,1
3,0,1,1,0,0,1,1,0,0,1,0,1
4,0,1,0,1,0,1,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
540,0,1,1,0,0,1,1,0,1,0,1,0
541,1,0,1,0,1,0,1,0,1,0,1,0
542,0,1,1,0,1,0,1,0,1,0,1,0
543,1,0,1,0,1,0,1,0,1,0,1,0
544,0,1,1,0,1,0,1,0,1,0,1,0

In [64]:
df1=pd.concat([df,k],axis=1)
df1

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,...,guestroom_no,guestroom_yes,basement_no,basement_yes,hotwaterheating_no,hotwaterheating_yes,airconditioning_no,airconditioning_yes,prefarea_no,prefarea_yes
0,13300000,7420,4,2,3,yes,no,no,no,yes,...,1,0,1,0,1,0,0,1,0,1
1,12250000,8960,4,4,4,yes,no,no,no,yes,...,1,0,1,0,1,0,0,1,1,0
2,12250000,9960,3,2,2,yes,no,yes,no,no,...,1,0,0,1,1,0,1,0,0,1
3,12215000,7500,4,2,2,yes,no,yes,no,yes,...,1,0,0,1,1,0,0,1,0,1
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,...,0,1,0,1,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,...,1,0,0,1,1,0,1,0,1,0
541,1767150,2400,3,1,1,no,no,no,no,no,...,1,0,1,0,1,0,1,0,1,0
542,1750000,3620,2,1,1,yes,no,no,no,no,...,1,0,1,0,1,0,1,0,1,0
543,1750000,2910,3,1,1,no,no,no,no,no,...,1,0,1,0,1,0,1,0,1,0
544,1750000,3850,3,1,2,yes,no,no,no,no,...,1,0,1,0,1,0,1,0,1,0

In [65]:
df1=df1.drop(['prefarea','mainroad'],axis=1)
df1=df1.drop(['guestroom', 'basement'],axis=1)

In [66]:
df1=df1.drop(['hotwaterheating', 'airconditioning'],axis=1)

In [67]:
df1

,price,area,bedrooms,bathrooms,stories,parking,mainroad_no,mainroad_yes,guestroom_no,guestroom_yes,basement_no,basement_yes,hotwaterheating_no,hotwaterheating_yes,airconditioning_no,airconditioning_yes,prefarea_no,prefarea_yes
0,13300000,7420,4,2,3,2,0,1,1,0,1,0,1,0,0,1,0,1
1,12250000,8960,4,4,4,3,0,1,1,0,1,0,1,0,0,1,1,0
2,12250000,9960,3,2,2,2,0,1,1,0,0,1,1,0,1,0,0,1
3,12215000,7500,4,2,2,3,0,1,1,0,0,1,1,0,0,1,0,1
4,11410000,7420,4,1,2,2,0,1,0,1,0,1,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,2,0,1,1,0,0,1,1,0,1,0,1,0
541,1767150,2400,3,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0
542,1750000,3620,2,1,1,0,0,1,1,0,1,0,1,0,1,0,1,0
543,1750000,2910,3,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0
544,1750000,3850,3,1,2,0,0,1,1,0,1,0,1,0,1,0,1,0

In [68]:
X=df1.drop('price',axis=1)
y=df1['price']

In [69]:

from sklearn.model_selection import train_test_split

In [70]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [71]:
X_train.shape

(436, 17)

In [72]:
X_test.shape

(109, 17)

In [73]:
from sklearn.linear_model import LinearRegression

In [74]:
model=LinearRegression()

In [75]:
model.fit(X,y)

LinearRegression()

In [76]:
y_pred=model.predict(X_test)
y_pred

array([ 3444488.38704022,  3947281.078652  ,  4643852.28702546,
        3014686.13440426,  4169326.75678814,  6504669.79266463,
        3763237.3922416 ,  4087811.76418359,  2606983.41186684,
        5532577.16916761,  3867086.0408434 ,  4408201.00329497,
        3084643.09115993,  4887267.11290621,  4532921.00532975,
        5536587.342454  ,  3922378.07713254,  6977705.526729  ,
        7741602.40569848,  4573013.39255703,  2836579.45073797,
        3606506.87207174,  7121467.05304576,  7085463.32237212,
        6434322.11523604,  3643736.22116876,  6778729.68771659,
        6407603.40920511,  5675829.34790282,  5962941.6386765 ,
        4079299.77238928,  6725542.78652498,  5400366.74722267,
        3759095.57150641,  4677501.43285416,  2160991.64860944,
        3667627.39700122,  4456656.72312483,  3007253.86726973,
        3683232.47858675,  4681709.76389054,  5394750.60901638,
        4356485.19661303,  6187133.23014046,  3690723.82107711,
        4160209.11896603,  6088376.49667417,  4966178.01205193,
        4722622.3681768 ,  4497518.56153982,  3626929.60724898,
        3128217.77691742,  2791301.78230742,  6778521.87666369,
        3856235.96587641,  6501175.81495258,  4267564.14498011,
        4401549.62238923,  5182244.47817793,  2390587.44397772,
        2235442.39948123,  4218208.53521575,  6034533.41653317,
        4676330.77630446,  5545138.46371829,  3899163.88179479,
        7044938.24691344,  4164847.94659366,  3838620.99359041,
        4497719.18958478,  3309316.83016726,  3020185.07920524,
        3293883.66420557, 10548932.18192234,  2804277.90167707,
        4179917.8149524 ,  3360110.86938553,  5067195.67257608,
        4362016.2408955 ,  4452565.97875124,  3481779.7346103 ,
        6705151.60679166,  6638683.57717456,  3407793.55654225,
        6617820.67506938,  2940531.28716993,  5430690.42959837,
        3761713.45070894,  3186245.18016455,  6019603.39767833,
        3014654.03492277,  3059298.07032811,  5087575.88502798,
        3065568.02819877,  6520831.28229341,  4061045.74614642,
        4020311.07582128,  3255945.79029923,  5890685.2499319 ,
        3553819.00915897,  4738294.46774482,  9807929.53518508,
        3139992.36395282,  4235071.23079403,  4881147.42242385,
        6958326.38592864,  4141850.96441421,  4610185.41046811,
        3383013.75553808])

In [77]:
model.coef_

array([ 2.48169170e+02,  1.28480307e+05,  1.00590138e+06,  4.57132961e+05,
        2.98515502e+05, -2.33259241e+05,  2.33259241e+05, -1.58647331e+05,
        1.58647331e+05, -1.90983639e+05,  1.90983639e+05, -4.48930851e+05,
        4.48930851e+05, -4.40151239e+05,  4.40151239e+05, -3.28859257e+05,
        3.28859257e+05])

In [78]:
model.intercept_

1517741.9418767374

In [79]:
model.score(X_test,y_test)

0.7036088031017613

In [80]:
from sklearn.metrics import accuracy_score

In [86]:
model.predict([[7420,4,2,3,2,0,1,1,0,1,0,1,0,0,1,0,1]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([8057018.96262832])

In [87]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no
...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no
541,1767150,2400,3,1,1,no,no,no,no,no,0,no
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no
543,1750000,2910,3,1,1,no,no,no,no,no,0,no
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no

In [92]:
df2=df.drop(['mainroad','guestroom','basement','hotwaterheating','airconditioning','parking','prefarea'],axis=1)

In [93]:
df2

        price  area  bedrooms  bathrooms  stories
0    13300000  7420         4          2        3
1    12250000  8960         4          4        4
2    12250000  9960         3          2        2
3    12215000  7500         4          2        2
4    11410000  7420         4          1        2
..        ...   ...       ...        ...      ...
540   1820000  3000         2          1        1
541   1767150  2400         3          1        1
542   1750000  3620         2          1        1
543   1750000  2910         3          1        1
544   1750000  3850         3          1        2

[545 rows x 5 columns]

In [98]:
X=df2.drop(['price'],axis=1)
y=df2['price']

In [100]:
from sklearn.model_selection import train_test_split

In [101]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [102]:
X_train.shape

(436, 4)

In [103]:
from sklearn.linear_model import LinearRegression

In [104]:
l=LinearRegression()

In [105]:
l.fit(X,y)

LinearRegression()

In [106]:
y_pred=l.predict(X_test)

In [108]:
l.score(X_test,y_test)

0.5858277074456095